* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
    height: 100vh;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    border: none;
    padding: 0.625rem 2.5rem;
    border-radius: 7px;
    background-color: #00ff08;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
}

button.contact {
    transition: all .6s;
}

button.contact:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #00ff08;
}

/*
********** Config end **********
*/


/*
********** Header **********
*/
header {
    padding: 2rem 0;
}

header nav.nav-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav.nav-area .menu-desktop {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.1rem;
}

header nav.nav-area .menu-desktop li a {
    display: inline-block;
    color: #5c5c5c;
    transition: all .6s;
}

header nav.nav-area .menu-desktop li a:hover {
    color: #fff;
    transform: scale(1.05);
}

/*
********** Header end **********
*/


/*
********** Main Top **********
*/
main .top {
    display: flex;
    align-items: center;
    gap: 5.625rem;
}

main .top .main-top {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
    color: #fff;
}

main .top .main-top h1 {
    font-size: 3rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

main .top .main-top h1 span {
    color: #00ff08;
    font-weight: 900;
}

@keyframes float {
    0% {
        top: 0;
    }
    100% {
        top: 1.875rem;
    }
}

main .top .photo img {
    position: relative;
    animation: float 2s ease-in-out infinite alternate;
}

/*
********** Main Top end **********
*/


/*
********** Main specialties **********
*/
.specialties {
    padding: 2rem 0;
    color: #fff;
}

.specialties h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.specialties h2 span {
    color: #00ff08;
}

.specialties .box-specialties {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 2.5rem;
    row-gap: 1rem;
}

.specialties .box-specialties article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: all .6s
}

.specialties .box-specialties article:hover {
    box-shadow: 0 0 20px #5c5c5c;
    transform: scale(1.05);
}

.specialties .box-specialties article i {
    font-size: 4rem;
    color: #00ff08;
}

.specialties .box-specialties article h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*
********** Main specialties end **********
*/